
    <footer class="footer">
        <div class="container">
            <div class="quote">
                <p>We push. We make you </p>
                <p>nervous. We get results. </p>
                <p>Let's get to work.</p>
            </div>
            <div class="WorkWithUs">
                <li class="Need-Website text-center"><a href="/Work">Work With Us</a></li>
            </div>
        </div>
        <div class="copyright">
            <div class="cp">
                <a href="/work" style="color: black;"><div class='links-end'>What We Do</div></a>
                <a href="/about" style="color: black;"><div class='links-end'>What We Are About</div></a>
                <a href="/Contact" style="color: black;"><div class='links-end'>Work With Us</div></a>
            </div>
            <ul>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
            </ul>
        </div>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</script>
</body>
</html>

