    <footer class="footer">
        <div class="container">
            <div class="quote">
                <p>We push. We make you </p>
                <p>nervous. We get results. </p>
                <p>Let's get to work.</p>
            </div>
            <div class="WorkWithUs">
                <li class="Need-Website text-center"><a href="/Contact">Work With Us</a></li>
            </div>
        </div>
        <div class="copyright">
            <div class="cp">
                <a href="/work" style="color: black;"><div class='links-end'>What We Do</div></a>
                <a href="/about" style="color: black;"><div class='links-end'>What We Are About</div></a>
                <a href="/Contact" style="color: black;"><div class='links-end'>Work With Us</div></a>
            </div>
            <ul>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
            </ul>
        </div>
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".services-slider").owlCarousel({
                items:1,
                loop:true,
                margin:10,
                ltr: true,
                autoplay:true,
                autoplayTimeout:2000,
                autoplayHoverPause:true,
            });
        })
        $(document).ready(function(){
            $(".service-pngs-carousel-1").owlCarousel({
                items:1,
                loop:true,
                margin:10,
                ltr: true,
                autoplay:true,
                autoplayTimeout:2500,
                autoplayHoverPause:true
            });
        })
        $(document).ready(function(){
            $(".service-pngs-carousel-2").owlCarousel({
                items:1,
                loop:true,
                margin:10,
                ltr:true,
                autoplay:true,
                autoplayTimeout:2500,
                autoplayHoverPause:true
            });
        })
        $(document).ready(function(){
            $(".slider-inner").owlCarousel({
                items:6,
                responsive: {
                    0:{
                        items:2,
                    },
                    600:{
                        items:4,
                    },
                    1000:{
                        items:6,
                        dots: false,
                    }
                },
                loop:true,
                margin:10,
                autoplay:true,
                autoplayTimeout: 1000,
                autoplaySpeed: 2500,
            });
        });
        $(document).ready(function(){
            $("#graphic-design-slider").owlCarousel({
                items:6,
                infinite: true,
                itemsDesktop:[1000,6],
                itemsDesktopSmall:[979,4],
                itemsTablet:[768,3],
                itemsMobile:[650,1],
                pagination:false,
                autoPlay: 2500
            });
        });
      </script>

    <script>
        const body = document.body;
        let lastScroll = 0;

        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset

            if(currentScroll <= 0){
                body.classList.remove("scroll-up")
            }

            if(currentScroll > lastScroll && !body.classList.contains("scroll-down")){
                body.classList.remove("scroll-up")
                body.classList.add("scroll-down")
            }
            
            if(currentScroll < lastScroll && body.classList.contains("scroll-down")){
                body.classList.remove("scroll-down")
                body.classList.add("scroll-up")
            }

            lastScroll = currentScroll;
        })

    </script>
    
    <script type='text/JavaScript' src='./js/styles.js'></script>
    <script type='text/JavaScript' src='./js/Home.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </script>
</body>
</html>

