<%- include('./partials/header.ejs') %>

    <div class="scroll-top-button" id="scroll-top-button"><a href="#"><i class="fas fa-2x fa-arrow-up"></i></a></div>
    <div class='first-section img-blur'>
        <div class="first-column">
            <video autoplay muted loop id="myVideo">
                <source src="/bgvideo" type="video/mp4">
            </video>
            <p>Pushing Boundaries and creating new opportunities. As we are new, We are ready to fly and explore the
                world with our new and unconventional methods. </p>
            <div class="WorkWithUs">
                <li class="Need-Website"><a href="/Work">Work With Us</a></li>
            </div>
        </div>
        <div class="second-column">
            <div class="social-media-management">
                <img src="../img/social-media-management.jpg" alt="" />
                <div class="SmmText">
                    <h4 style="padding: 5px;">SOCIAL MEDIA MANAGEMENT</h4>
                    <div class="h8" style="padding: 5px;">In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</div>
                </div>
            </div>
            <div class="video-production">
                <img src="../img/digital-marketing.jpg" alt="">
                <div class="VPText">
                    <h4 style="padding: 5px;">VIDEO PRODUCTION</h4>
                    <div class="h8" style="padding: 5px;">In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</div>
                </div>
            </div>
            <div class="web-development">
                <img src="../img/advertising.jpg" alt="">
                <div class="WDText">
                    <h4 style="padding: 5px;">WEB DEVELOPMENT</h4>
                    <div class="h8" style="padding: 5px;">In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</div>
                </div>
            </div>
            <div class="logo-designing">
                <img src="../img/logo-designing.jpg" alt="">
                <div class="LDText">
                    <h4 style="padding: 5px;">Graphic DESIGNING</h4>
                    <div class="h8" style="padding: 5px;">In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</div>
                </div>
            </div>
            <div class="digital-marketing">
                <img src="../img/web-development.jpg" alt="">
                <div class="DMText">
                    <h4 style="padding: 5px;">DIGITAL MARKETING</h4>
                    <div class="h8" style="padding: 5px;">In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</div>
                </div>
            </div>
            <div class="advertising">
                <img src="../img/video-production.jpg" alt="">
                <div class="addText">
                    <h4 style="padding: 5px;">ADVERTISING</h4>
                    <div class="h8" style="padding: 5px;">In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</div>
                </div>
            </div>
        </div>
    </div>
    <section class="destination" id="destination">
        <div class="capabilities">
            <p class="title our">OUR CAPABILITIES SO<br> FAR</p>
        </div>
        <div class="destination-section-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
            <div class="read-more"> > &nbsp <a href=""> read more</a></div>
            <div class="capability-image">
                <img src="../img/capabilities.jpg" alt="">
                <P class="img-text">MAKING YOUR BRAND ONE OF<br>INDIA'S FASTEST GROWING<br>BUSINESS</P>
            </div>
        </div>
    </section>
    <div class="destination-2 " id="destination-2" data-0="transform:translateX(0%);"
        data-1000="transform:translateX(-100%);">
        <div class="Grid-title">
            <p class="title">WHAT WE HAVE BEEN UPTO<br> SOO SO FAR</p>
            <p class="question">?</p>
        </div>
        <ul class="grid">
            <li class="project">
                <img src="../img/mountain4.jpg" alt="">
                <div class="li-text">Project1</div>
            </li>
            <li class="project">
                <img src="../img/mountain2.jpg" alt="">
                <div class="li-text">Project2</div>
            </li>
            <li class="project">
                <img src="../img/mountain3.jpg" alt="">
                <div class="li-text">Project3</div>
            </li>
            <li class="project">
                <img src="../img/mountain1.jpg" alt="">
                <div class="li-text">Project4</div>
            </li>
        </ul>
        <a href="/work" style="text-decoration: none;">
            <div class="more"><i class="fas fa-2x fa-chevron-down"></i></div>
        </a>
    </div>

    <div id="our-team-intro">Our Team</div>

    <div class="our-team" id="our-team">
        <div class="column">
            <div id="img-container">
                <img id="img2" src="../img/team-3.jpg" alt="vikram">
            </div>
            <div class="info">
                <h2 style="color: #ffd60a">Vikram Chharia</h2>
                <p class="title">Frontend Developer</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text</p>
                <p>mike@example.com</p>
            </div>
        </div>
        <div class="column">
            <div id="img-container"><img id="img2" src="../img/team-4.jpg" alt="vikram"></div>
            <div class="info">
                <h2 style="color: #ffd60a;">Vikram Chharia</h2>
                <p class="title">Frontend Developer</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text</p>
                <p>mike@example.com</p>
            </div>
        </div>
    </div>
    <!-- <div class="nothing"></div> -->
    <script type='text/JavaScript' src='./js/Home.js'></script>


    <%- include('./partials/footer.ejs') %>