<%- include('./partials/header.ejs') %>

    <div class="scroll-top-button" id="scroll-top-button"><a href="#"><i class="fas fa-2x fa-arrow-up"></i></a></div>
    <div class='first-section'>
        <video autoplay muted loop id="myVideo">
            <source src="/bgvideo" type="video/mp4">
        </video>
        <p>Pushing Boundaries and creating new opportunities. As we are new, We are ready to fly and explore the
            world with our new and unconventional methods. </p>
        <div class="WorkWithUs">
            <li class="Need-Website"><a href="/Contact">Work With Us</a></li>
        </div>
    </div>
    <div class="container">
        <div class="services">
            <p class="services-title">WHAT WE OFFER</p><hr>
        </div>
        <div class="second-column">
            <div class="columns">
                <img src="../img/social-media-management(1).jpg" alt="" />
                <div class="Text">
                    <h4 style="padding: 5px;">SOCIAL MEDIA MANAGEMENT</h4>
                    <P>In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</P>
                </div>
            </div>
            <div class="columns">
                <img src="../img/digital-marketing(1).jpg" alt="">
                <div class="Text">
                    <h4 style="padding: 5px;">VIDEO PRODUCTION</h4>
                    <P>In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</P>
                </div>
            </div>
            <div class="columns">
                <img src="../img/advertising(1).jpg" alt="">
                <div class="Text">
                    <h4 style="padding: 5px;">WEB/APP DEVELOPMENT</h4>
                    <P>In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</P>
                </div>
            </div>
            <div class="columns">
                <img src="../img/logo-designing(1).jpg" alt="">
                <div class="Text">
                    <h4 style="padding: 5px;">GRAPHIC DESIGNING</h4>
                    <P>In publishing and graphic design, Lorem ipsum is a placeholder
                        text commonly used to demonstrate the</P>
                </div>
            </div>
            <div class="columns">
                <img src="../img/web-development(1).jpg" alt="">
                <div class="Text">
                    <h4 style="padding: 5px;">DIGITAL MARKETING/ADVERTISING</h4>
                    <P>In publishing and graphic design, Lorem ipsum is a placeholder
                    text commonly used to demonstrate the</P>
                </div>
            </div>
            <div class="columns">
                <img src="../img/video-production(1).jpg" alt="">
                <div class="Text">
                    <h4 style="padding: 5px;">GAME DEVELOPMENT</h4>
                    <P>In publishing and graphic design, Lorem ipsum is a placeholder
                    text commonly used to demonstrate the</P>
                </div>
            </div>
        </div>
        <section class="columns destination" id="destination">
            <div class="capabilities">
                <p class="title our">OUR CAPABILITIES SO<br> FAR</p>
            </div>
            <div class="destination-section-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                <div class="read-more"> > &nbsp <a href=""> read more</a></div>
                <div class="capability-image">
                    <img src="../img/capabilities.jpg" alt="">
                    <P class="img-text">MAKING YOUR BRAND ONE OF<br>INDIA'S FASTEST GROWING<br>BUSINESS</P>
                </div>
            </div>
        </section>
        <div class="destination-2 " id="destination-2" data-0="transform:translateX(0%);"
            data-1000="transform:translateX(-100%);">
            <div class="Grid-title">
                <p class="title">WHAT WE HAVE BEEN UPTO<br> SOO SO FAR</p><hr>
            </div>
            <ul class="grid">
                <li class="project">
                    <img src="../img/mountain4.jpg" alt="">
                    <div class="li-text">
                        <P>Project1</P>
                        <P class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</P>
                    </div>
                </li>
                <li class="project">
                    <img src="../img/mountain2.jpg" alt="">
                    <div class="li-text">
                        <P>Project2</P>
                        <P class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</P>
                    </div>
                </li>
                <li class="project">
                    <img src="../img/mountain3.jpg" alt="">
                    <div class="li-text">
                        <P>Project3</P>
                        <P class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</P>
                    </div>
                </li>
                <li class="project">
                    <img src="../img/mountain1.jpg" alt="">
                    <div class="li-text">
                        <P>Project4</P>
                        <P class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</P>
                    </div>
                </li>
            </ul>
            <a href="/work" style="text-decoration: none;">
                <div class="more"><i class="fas fa-2x fa-chevron-down"></i></div>
            </a>
        </div>
    
        <div class="teams">
            <div id="our-team-intro">Our Team</div><hr>
            <div class="our-team" id="our-team">
                <div class="column">
                    <div id="img-container">
                        <img id="img2" src="../img/team-3.jpg" alt="vikram">
                    </div>
                    <div class="info">
                        <h2 style="color: #ffd60a">Raj Roshan Prajapati</h2>
                        <p class="title">Frontend Developer</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the
                            industry's standard dummy text</p>
                        <p>mike@example.com</p>
                    </div>
                </div>
                <div class="column">
                    <div id="img-container"><img id="img2" src="../img/team-4.jpg" alt="vikram"></div>
                    <div class="info">
                        <h2 style="color: #ffd60a;">Vikram Chharia</h2>
                        <p class="title">Frontend Developer</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the
                            industry's standard dummy text</p>
                        <p>mike@example.com</p>
                    </div>
                </div>
                <div class="column">
                    <div id="img-container"><img id="img2" src="../img/team-4.jpg" alt="vikram"></div>
                    <div class="info">
                        <h2 style="color: #ffd60a;">Harsh deo</h2>
                        <p class="title">Frontend Developer</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the
                            industry's standard dummy text</p>
                        <p>mike@example.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/JavaScript' src='./js/Home.js'></script>


    <%- include('./partials/footer.ejs') %>