<%- include('./partials/header.ejs') %>
<%- include('./partials/flash.ejs') %>

        <div class="card-container">
            <% if( Array.isArray(work) ) { %>
                <%work.forEach( function( work ){ %>
                    <div class="box">
                        <img src="<%= work.workImage %>" alt="">
                    </div>
            <% })} else { %>
                    <% console.log('error') %>
            <% }; %>
        </div>

<%- include('./partials/footer.ejs') %>