<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="./css/work.css">
    <div class="nav-background">
        <video autoplay muted loop id="myVideo">
            <source src="/bgvideo" type="video/mp4">
        </video>
        <p class="heading">WHAT WE'VE BEEN<br> UPTO
            SO FAR ?</p>
        <p></p>
    </div>

    <div class="projects-list" id="destination-2" data-0="transform:translateX(0%);"
        data-1000="transform:translateX(-100%);">
        <div class="projects-title" id="ulactive">
            <li id="ALL" href="javascript:void(0)" class="active">All</li>
            <li id="SMM" href="javascript:void(0)" target="1">Social Media Management</li>
            <li id="VP" href="javascript:void(0)" target="2">Video Production</li>
            <li id="WD" href="javascript:void(0)" target="3">Web/App Development</li>
            <li id="GD" href="javascript:void(0)" target="4">Graphic Designing</li>
            <li id="ADV" href="javascript:void(0)" target="5">Game Development</li>
            <li id="DM" href="javascript:void(0)" target="6">Digital Marketing/Advertising</li>
        </div>
        <ul class="grid">
            <li data-info-target="#info" class="project target type1">
                <img src="../img/mountain4.jpg" alt="">
                <div class="li-text">Social Media Management</div>
            </li>
            <li class="project target type1">
                <img src="../img/mountain2.jpg" alt="">
                <div class="li-text">Social Media Management</div>
            </li>
            <li class="project target type1">
                <img src="../img/mountain3.jpg" alt="">
                <div class="li-text">Social Media Management</div>
            </li>
            <li class="project target type1">
                <img src="../img/mountain1.jpg" alt="">
                <div class="li-text">Social Media Management</div>
            </li>
            <li class="project target type2" >
                <img src="../img/mountain4.jpg" alt="">
                <div class="li-text">Video Production</div>
            </li>
            <li class="project target type2" >
                <img src="../img/mountain2.jpg" alt="">
                <div class="li-text">Video Production</div>
            </li>
            <li class="project target type2" >
                <img src="../img/mountain3.jpg" alt="">
                <div class="li-text">Video Production</div>
            </li>
            <li class="project target type2" >
                <img src="../img/mountain1.jpg" alt="">
                <div class="li-text">Video Production</div>
            </li>
            <li class="project target type3">
                <img src="../img/mountain4.jpg" alt="">
                <div class="li-text">Web Development</div>
            </li>
            <li class="project target type3">
                <img src="../img/mountain2.jpg" alt="">
                <div class="li-text">Web Development</div>
            </li>
            <li class="project target type3">
                <img src="../img/mountain3.jpg" alt="">
                <div class="li-text">Web Development</div>
            </li>
            <li class="project target type3">
                <img src="../img/mountain1.jpg" alt="">
                <div class="li-text">Web Development</div>
            </li>
            <li class="project target type4">
                <img src="../img/mountain4.jpg" alt="">
                <div class="li-text">Graphic Designing</div>
            </li>
            <li class="project target type4">
                <img src="../img/mountain2.jpg" alt="">
                <div class="li-text">Graphic Designing</div>
            </li>
            <li class="project target type4">
                <img src="../img/mountain3.jpg" alt="">
                <div class="li-text">Graphic Designing</div>
            </li>
            <li class="project target type4">
                <img src="../img/mountain1.jpg" alt="">
                <div class="li-text">Graphic Designing</div>
            </li>
            <li class="project target type5">
                <img src="../img/mountain4.jpg" alt="">
                <div class="li-text">Advertising</div>
            </li>
            <li class="project target type5">
                <img src="../img/mountain2.jpg" alt="">
                <div class="li-text">Advertising</div>
            </li>
            <li class="project target type5">
                <img src="../img/mountain3.jpg" alt="">
                <div class="li-text">Advertising</div>
            </li>
            <li class="project target type5">
                <img src="../img/mountain1.jpg" alt="">
                <div class="li-text">Advertising</div>
            </li>
            <li class="project target type6">
                <img src="../img/mountain4.jpg" alt="">
                <div class="li-text">Digital Marketing</div>
            </li>
            <li class="project target type6">
                <img src="../img/mountain2.jpg" alt="">
                <div class="li-text">Digital Marketing</div>
            </li>
            <li class="project target type6">
                <img src="../img/mountain3.jpg" alt="">
                <div class="li-text">Digital Marketing</div>
            </li>
            <li class="project target type6">
                <img src="../img/mountain1.jpg" alt="">
                <div class="li-text">Digital Marketing</div>
            </li>
        </ul>
    </div>
    <div class="info" id="info">
        <div class="header">
            <div class="heading">
                <h2>PROJECT</h2>
                <button data-close-button class="close-button">&times;</button>
            </div>
            <h4>SUBTITLE</h4>
            <P>Our team though small ,excel in experience. We care just as much about the performance of a project as we do the aesthetics. Our strategic approach is what makes us different and great to work with. Everything we do, starts with strategy.Our reasearch is well- documented and our ideas are shared in an organised way. Instead of focusing on what's hot or new , we take a timeless approach to visuals.We know the importance of your time, which motivates us to be punctual. When it comes to web development the user gets priority. We work through goals,needs and ideas to ensure our digital product get remarkable results. we gather, organise and build plans based on each project's needs. We believe that building a brand is really building a relationship.We get to know you and your organisation so we can feel we are a part of it. Then we go off. our brand centric approach to websites ensures you look great and tell a compelling story.</P>
        </div>
    </div>
    <div id="show"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/JavaScript" src="./js/work.js"></script>


    <%- include('./partials/footer.ejs') %>