<%- include('./partials/header.ejs') %>
<%- include('./partials/flash.ejs') %>
    <div class="second-nav">
        <ul>
            <li class="parent" href="#">
                <a href="#web-dev">
                    <span class="icon"><i class="fa fa-desktop"></i></span>
                    <span class="text">Web Development</span></span> 
                </a>
            </li>
            <li class="parent" href="#">
                <a href="#graphic-design">
                    <span class="icon"><i class="fa fa-paint-brush"></i></span>
                    <span class="text">Graphic Designing</span>
                </a>
            </li>
            <li class="parent" href="#">
                <a href="#video-production">
                    <span class="icon"><i class="fa fa-film"></i></span>
                    <span class="text">Video Production</span>
                </a>
            </li>
            <li class="parent" href="#">
                <a href="#marketing-advertising">
                    <span class="icon"><i class="fa fa-buysellads"></i></span>
                    <span class="text">Digital Marketing/Advertising</span>
                </a>
            </li>
            <li class="parent" href="#">
                <a href="#social-media-marketing">
                    <span class="icon"><i class="fa fa-users"></i></span>
                    <span class="text">Social Media Management</span>
                </a>
            </li>
            <li class="parent">
                <a href="#app-development">
                    <span class="icon"><i class="fa fa-2x fa-android"></i></span>
                    <span class="text">App Development</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-background">
        <video autoplay muted loop id="myVideo">
            <source src="/bgvideo" type="video/mp4">
        </video>
        <p class="heading" >WHAT WE'VE BEEN<br> UPTO
            SO FAR ?</p>
        <p></p>
    </div>

    


    <div class="services-container">
        <div class="work-services pt-5">
            <div class="services-info mb-5">
                <h1 class="mb-2">Services</h1>
                <p class="mb-2">Tap into the knowledge and experience of redgrapes product implementation specialists, subject matter experts, data engineers and data scientists to capitalize on your redgrapes platform investment and deliver more value faster, at every stage of .</p>
                <h2 class="mb-2">The smartest way to success with Red Grapes</h2>
                <p>redgrapes SmartServices are focused offerings to support you through each stage of your data journey - from pilot to production. From out of the box offerings to customized packages, SmartServices are designed for you to realize the value of your redgrapes investment quickly, painlessly, at a lower cost and with peak performance.</p>
            </div>
            <div class="red-services">
                <div class="row service-pngs" id="service-pngs">
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names"><img class="img-fluid" src="../img/services/app-development.png" alt="">
                            <p class="pt-3 mb-3">App Development</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                        </li>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names"><img class="img-fluid" src="../img/services/bullhorn.png" alt="">
                            <p class="pt-3 mb-3">Digital marketing/Advertising</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout.
                            </p>
                        </li>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names"><img class="img-fluid" src="../img/services/share.png" alt="">
                            <p class="pt-3 mb-3">Social media management</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                        </li>
                    </div>
                </div>
                <div class="row service-pngs owl-carousel owl-theme service-pngs-carousel-1">
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names"><img class="img-fluid" src="../img/services/app-development.png" alt="">
                            <p class="pt-3 mb-3">App Development</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                        </li>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names"><img class="img-fluid" src="../img/services/bullhorn.png" alt="">
                            <p class="pt-3 mb-3">Digital marketing/Advertising</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout.
                            </p>
                        </li>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names"><img class="img-fluid" src="../img/services/share.png" alt="">
                            <p class="pt-3 mb-3">Social media management</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                        </li>
                    </div>
                </div>
                <div class="row service-pngs" id="service-pngs">
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names">
                            <img class="img-fluid" src="../img/services/video-production.png" alt="">
                            <p class="pt-3 mb-3">Video Production</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                    </div>
                    </li>
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names">
                            <img class="img-fluid" src="../img/services/web-design.png" alt="">
                            <p class="pt-3 mb-3">Graphic Designing</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                    </div>
                    </li>
                    <div class="col-lg-6 col-xl-4">
                        <li class="services-names">
                            <img class="img-fluid" src="../img/services/website.png" alt="">
                            <p class="pt-3 mb-3">Web Development</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                    </div>
                    </li>
                </div>
                <div class="row service-pngs owl-carousel owl-theme service-pngs-carousel-2">
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names">
                            <img class="img-fluid" src="../img/services/video-production.png" alt="">
                            <p class="pt-3 mb-3">Video Production</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                    </div>
                    </li>
                    <div class="col-sm-6 col-lg-6 col-xl-4">
                        <li class="services-names">
                            <img class="img-fluid" src="../img/services/web-design.png" alt="">
                            <p class="pt-3 mb-3">Graphic Designing</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                    </div>
                    </li>
                    <div class="col-lg-6 col-xl-4">
                        <li class="services-names">
                            <img class="img-fluid" src="../img/services/website.png" alt="">
                            <p class="pt-3 mb-3">Web Development</p>
                            <p class="desc">It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. 
                            </p>
                    </div>
                    </li>
                </div>
            </div>
        </div>

        <div class="banner mt-5">
            <div class="col1">
                <img src="../img/banners/banner2.jpg"  alt="">
            </div>
            <div class="col2">
                <h1>SERVICES</h1>
                <p>
                    Red grapes is a multimedia marketing and advertising company, 
                    which helps brands to excel in right direction.
                    Tap into the knowledge and experience of redgrapes product implementation specialists, subject matter experts, data engineers and data scientists to capitalize on your redgrapes platform investment and deliver more value faster, at every stage of .
                </p>
            </div>
        </div>

    <!-- //web-development -->
    <!-- //web-development -->
    <!-- //web-development -->

        <div class="services-offered" id="web-dev">
            <div class="text" id="text">
                <h1>Creative Websites</h1>
                <p>Marketing is all about delivering the information about what your business is all about and what it gives to the audience. The loop of information decides how well your business can perform. 
                    The right strategy for information flow is forecasting it creatively.
                    <span class="read-more-text">Marketing collaterals can easily convert the potential customer into a buyer when created with the strategic approach.<br>
                        With the best marketing collateral design services you can make your brand exceptionally differentiating in the market sphere. Since it acquires the immense power to build the recall value, 
                        it is one of the finest strategies to be incorporated in your marketing strategy.
                    </span>
                </p>
                <span class="read-more-btn">Read More...</span>
            </div>
            <div class="image">
                <img class="img-fluid" src="../img/banners/web-dev.svg" alt="">
            </div>
        </div>
        <div id="slider-inner" class="owl-carousel owl-theme slider-inner">
            <div class="slide-img">
                <i style="color: black;"class="fa-5x fab fa-node"></i>
            </div>
            <div class="slide-img">
                <i style="color: red;"class="fa-5x fab fa-angular"></i>
            </div>
            <div class="slide-img">
                <i style="color: black ;" class="fa-5x fab fa-wordpress"></i>
            </div>
            <div class="slide-img">
                <i style="color: #057af0;"class="fa-5x fab fa-css3-alt"></i>
            </div>
            <div class="slide-img">
                <i style="color:black;"class="fab fa-5x fa-js-square"></i>
            </div>
            <div class="slide-img">
                <i style="color:#ff5400 ;" class="fab fa-5x fa-html5"></i>
            </div>
            <div class="slide-img">
                <i style="color: #90e0ef;" class="fab fa-5x fa-react"></i>
            </div>
            <div class="slide-img">
                <i style="color: #ba324f;" class="fab fa-5x fa-npm"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-python"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-php"></i>
            </div>
        </div>
        <div class="tow-container">
            <h1>WE CATER SUCCESS<br>
                WHAT DO YOU GET FROM US?</h1>
            <div class="types-of-websites mt-5">
                <a href="/show" class="column responsive-websites">
                   <img class="img-fluid" src="../img/banners/responsive-web-square.png" alt="">
                </a>
                <a href="/show" class="column websites custom-websites">
                   <img class="img-fluid" src="../img/banners/sample_1.jpg" alt="">
                </a>
            </div>
        </div>

        <!-- //graphic designing -->
        <!-- //graphic designing -->
        <!-- //graphic designing -->

        <div class="services-offered" id="graphic-design">
            <div class="text" id="text">
                <h1>Eye Catching Desings</h1>
                <p>Marketing is all about delivering the information about what your business is all about and what it gives to the audience. The loop of information decides how well your business can perform. 
                    The right strategy for information flow is forecasting it creatively.
                    <span class="read-more-text">Marketing collaterals can easily convert the potential customer into a buyer when created with the strategic approach.<br>
                        With the best marketing collateral design services you can make your brand exceptionally differentiating in the market sphere. Since it acquires the immense power to build the recall value, 
                        it is one of the finest strategies to be incorporated in your marketing strategy.
                    </span>
                </p>
                <span class="read-more-btn">Read More...</span>
            </div>
            <div class="image">
                <img class="img-fluid" src="../img/banners/graphic-design.svg" alt="">
            </div>
        </div>
        <div id="slider-inner" class="owl-carousel owl-theme slider-inner">
            <div class="slide-img">
                <i style="color: black;"class="fa-5x fab fa-node"></i>
            </div>
            <div class="slide-img">
                <i style="color: red;"class="fa-5x fab fa-angular"></i>
            </div>
            <div class="slide-img">
                <i style="color: black ;" class="fa-5x fab fa-wordpress"></i>
            </div>
            <div class="slide-img">
                <i style="color: #057af0;"class="fa-5x fab fa-css3-alt"></i>
            </div>
            <div class="slide-img">
                <i style="color:black;"class="fab fa-5x fa-js-square"></i>
            </div>
            <div class="slide-img">
                <i style="color:#ff5400 ;" class="fab fa-5x fa-html5"></i>
            </div>
            <div class="slide-img">
                <i style="color: #90e0ef;" class="fab fa-5x fa-react"></i>
            </div>
            <div class="slide-img">
                <i style="color: #ba324f;" class="fab fa-5x fa-npm"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-python"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-php"></i>
            </div>
        </div>

        <div class="tow-container">
            <h1>WE CATER SUCCESS<br>
                WHAT DO YOU GET FROM US?</h1>
            <div class="types-of-websites mt-5">
                <a href="/show" class="column responsive-websites">
                   <img class="img-fluid" src="../img/banners/responsive-web-square.png" alt="">
                </a>
                <a href="/show" class="column websites custom-websites">
                   <img class="img-fluid" src="../img/banners/sample_1.jpg" alt="">
                </a>
            </div>
        </div>
    
    <!-- app development -->
    <!-- app development -->
    <!-- app development -->
    
        <div class="services-offered" id="video-production">
            <div class="text" id="text">
                <h1>Impactfull Videos</h1>
                <p>Marketing is all about delivering the information about what your business is all about and what it gives to the audience. The loop of information decides how well your business can perform. 
                    The right strategy for information flow is forecasting it creatively.
                    <span class="read-more-text">Marketing collaterals can easily convert the potential customer into a buyer when created with the strategic approach.<br>
                        With the best marketing collateral design services you can make your brand exceptionally differentiating in the market sphere. Since it acquires the immense power to build the recall value, 
                        it is one of the finest strategies to be incorporated in your marketing strategy.
                    </span>
                </p>
                <span class="read-more-btn">Read More...</span>
            </div>
            <div class="image">
                <img class="img-fluid" src="../img/banners/video-production.svg" alt="">
            </div>
        </div>
        <div id="slider-inner" class="owl-carousel owl-theme slider-inner">
            <div class="slide-img">
                <i style="color: black;"class="fa-5x fab fa-node"></i>
            </div>
            <div class="slide-img">
                <i style="color: red;"class="fa-5x fab fa-angular"></i>
            </div>
            <div class="slide-img">
                <i style="color: black ;" class="fa-5x fab fa-wordpress"></i>
            </div>
            <div class="slide-img">
                <i style="color: #057af0;"class="fa-5x fab fa-css3-alt"></i>
            </div>
            <div class="slide-img">
                <i style="color:black;"class="fab fa-5x fa-js-square"></i>
            </div>
            <div class="slide-img">
                <i style="color:#ff5400 ;" class="fab fa-5x fa-html5"></i>
            </div>
            <div class="slide-img">
                <i style="color: #90e0ef;" class="fab fa-5x fa-react"></i>
            </div>
            <div class="slide-img">
                <i style="color: #ba324f;" class="fab fa-5x fa-npm"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-python"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-php"></i>
            </div>
        </div>
        <div class="tow-container">
            <h1>WE CATER SUCCESS<br>
                WHAT DO YOU GET FROM US?</h1>
            <div class="types-of-websites mt-5">
                <a href="/show" class="column responsive-websites">
                   <img class="img-fluid" src="../img/banners/responsive-web-square.png" alt="">
                </a>
                <a href="/show" class="column websites custom-websites">
                   <img class="img-fluid" src="../img/banners/sample_1.jpg" alt="">
                </a>
            </div>
        </div>
    
    <!-- digital marketing / advertising -->
    <!-- digital marketing / advertising -->
    <!-- digital marketing / advertising -->

        <div class="services-offered" id="marketing-advertising">
            <div class="text" id="text">
                <h1>Precision Marketing</h1>
                <p>Marketing is all about delivering the information about what your business is all about and what it gives to the audience. The loop of information decides how well your business can perform. 
                    The right strategy for information flow is forecasting it creatively.
                    <span class="read-more-text">Marketing collaterals can easily convert the potential customer into a buyer when created with the strategic approach.<br>
                        With the best marketing collateral design services you can make your brand exceptionally differentiating in the market sphere. Since it acquires the immense power to build the recall value, 
                        it is one of the finest strategies to be incorporated in your marketing strategy.
                    </span>
                </p>
                <span class="read-more-btn">Read More...</span>
            </div>
            <div class="image">
                <img class="img-fluid" src="../img/banners/Digital-Marketing-Advertising.svg" alt="">
            </div>
        </div>
        <div id="slider-inner" class="owl-carousel owl-theme slider-inner">
            <div class="slide-img">
                <i style="color: black;"class="fa-5x fab fa-node"></i>
            </div>
            <div class="slide-img">
                <i style="color: red;"class="fa-5x fab fa-angular"></i>
            </div>
            <div class="slide-img">
                <i style="color: black ;" class="fa-5x fab fa-wordpress"></i>
            </div>
            <div class="slide-img">
                <i style="color: #057af0;"class="fa-5x fab fa-css3-alt"></i>
            </div>
            <div class="slide-img">
                <i style="color:black;"class="fab fa-5x fa-js-square"></i>
            </div>
            <div class="slide-img">
                <i style="color:#ff5400 ;" class="fab fa-5x fa-html5"></i>
            </div>
            <div class="slide-img">
                <i style="color: #90e0ef;" class="fab fa-5x fa-react"></i>
            </div>
            <div class="slide-img">
                <i style="color: #ba324f;" class="fab fa-5x fa-npm"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-python"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-php"></i>
            </div>
        </div>

        <div class="tow-container">
            <h1>WE CATER SUCCESS<br>
                WHAT DO YOU GET FROM US?</h1>
            <div class="types-of-websites mt-5">
                <a href="/show" class="column responsive-websites">
                   <img class="img-fluid" src="../img/banners/responsive-web-square.png" alt="">
                </a>
                <a href="/show" class="column websites custom-websites">
                   <img class="img-fluid" src="../img/banners/sample_1.jpg" alt="">
                </a>
            </div>
        </div>

    <!-- social media management -->
    <!-- social media management -->
    <!-- social media management -->

        <div class="services-offered" id="social-media-marketing">
            <div class="text" id="text">
                <h1>Impactful Social Media Campains</h1>
                <p>Marketing is all about delivering the information about what your business is all about and what it gives to the audience. The loop of information decides how well your business can perform. 
                    The right strategy for information flow is forecasting it creatively.
                    <span class="read-more-text">Marketing collaterals can easily convert the potential customer into a buyer when created with the strategic approach.<br>
                        With the best marketing collateral design services you can make your brand exceptionally differentiating in the market sphere. Since it acquires the immense power to build the recall value, 
                        it is one of the finest strategies to be incorporated in your marketing strategy.
                    </span>
                </p>
                <span class="read-more-btn">Read More...</span>
            </div>
            <div class="image">
                <img class="img-fluid" src="../img/banners/social-media-management.svg" alt="">
            </div>
        </div>
        <div id="slider-inner" class="owl-carousel owl-theme slider-inner">
            <div class="slide-img">
                <i style="color: black;"class="fa-5x fab fa-node"></i>
            </div>
            <div class="slide-img">
                <i style="color: red;"class="fa-5x fab fa-angular"></i>
            </div>
            <div class="slide-img">
                <i style="color: black ;" class="fa-5x fab fa-wordpress"></i>
            </div>
            <div class="slide-img">
                <i style="color: #057af0;"class="fa-5x fab fa-css3-alt"></i>
            </div>
            <div class="slide-img">
                <i style="color:black;"class="fab fa-5x fa-js-square"></i>
            </div>
            <div class="slide-img">
                <i style="color:#ff5400 ;" class="fab fa-5x fa-html5"></i>
            </div>
            <div class="slide-img">
                <i style="color: #90e0ef;" class="fab fa-5x fa-react"></i>
            </div>
            <div class="slide-img">
                <i style="color: #ba324f;" class="fab fa-5x fa-npm"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-python"></i>
            </div>
            <div class="slide-img">
                <i style="color: black;" class="fab fa-5x fa-php"></i>
            </div>
        </div>
        <div class="tow-container">
            <h1>WE CATER SUCCESS<br>
                WHAT DO YOU GET FROM US?</h1>
            <div class="types-of-websites mt-5">
                <a href="/show" class="column responsive-websites">
                   <img class="img-fluid" src="../img/banners/responsive-web-square.png" alt="">
                </a>
                <a href="/show" class="column websites custom-websites">
                   <img class="img-fluid" src="../img/banners/sample_1.jpg" alt="">
                </a>
            </div>
        </div>

    <!-- //vedio production -->
    <!-- //vedio production -->
    <!-- //vedio production -->
    <div class="services-offered" id="app-development">
        <div class="text" id="text">
            <h1>Handcrafted App Design/Development</h1>
            <p>Marketing is all about delivering the information about what your business is all about and what it gives to the audience. The loop of information decides how well your business can perform. 
                The right strategy for information flow is forecasting it creatively.
                <span class="read-more-text">Marketing collaterals can easily convert the potential customer into a buyer when created with the strategic approach.<br>
                    With the best marketing collateral design services you can make your brand exceptionally differentiating in the market sphere. Since it acquires the immense power to build the recall value, 
                    it is one of the finest strategies to be incorporated in your marketing strategy.
                </span>
            </p>
            <span class="read-more-btn">Read More...</span>
        </div>
        <div class="image">
            <img class="img-fluid" src="../img/banners/app-development.svg" alt="">
        </div>
    </div>
    <div id="slider-inner" class="owl-carousel owl-theme slider-inner">
        <div class="slide-img">
            <i style="color: black;"class="fa-5x fab fa-node"></i>
        </div>
        <div class="slide-img">
            <i style="color: red;"class="fa-5x fab fa-angular"></i>
        </div>
        <div class="slide-img">
            <i style="color: black ;" class="fa-5x fab fa-wordpress"></i>
        </div>
        <div class="slide-img">
            <i style="color: #057af0;"class="fa-5x fab fa-css3-alt"></i>
        </div>
        <div class="slide-img">
            <i style="color:black;"class="fab fa-5x fa-js-square"></i>
        </div>
        <div class="slide-img">
            <i style="color:#ff5400 ;" class="fab fa-5x fa-html5"></i>
        </div>
        <div class="slide-img">
            <i style="color: #90e0ef;" class="fab fa-5x fa-react"></i>
        </div>
        <div class="slide-img">
            <i style="color: #ba324f;" class="fab fa-5x fa-npm"></i>
        </div>
        <div class="slide-img">
            <i style="color: black;" class="fab fa-5x fa-python"></i>
        </div>
        <div class="slide-img">
            <i style="color: black;" class="fab fa-5x fa-php"></i>
        </div>
    </div>
    <div class="tow-container">
        <h1>WE CATER SUCCESS<br>
            WHAT DO YOU GET FROM US?</h1>
        <div class="types-of-websites mt-5">
            <a href="/show" class="column responsive-websites">
               <img class="img-fluid" src="../img/banners/responsive-web-square.png" alt="">
            </a>
            <a href="/show" class="column websites custom-websites">
               <img class="img-fluid" src="../img/banners/sample_1.jpg" alt="">
            </a>
        </div>
    </div>

    </div> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <%- include('./partials/footer.ejs') %>