.nav-background{
  position: relative;
  color: #f1faee;
  width: 100%;
  z-index: 1;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  overflow: hidden;
}
.nav-background p.heading{
  position: absolute;
  left: 50px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 76px;
  z-index: 3;
  line-height: 6rem;
}
.about-section{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-section .about-section-one{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 40%;
  height: 100%;
  padding: 40px;
}

.about-section .about-section-one p{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #6D070B;
  font-size: 40px;
  position: absolute;
  top: 50px;
  margin-left: 20px;
}
.about-section-two .h2{
  font-size: 40px;
  color: #6D070B;
  padding: 20px 0px 20px 0px;
}
#aboutsection .about-section-two{
  position: relative;
  flex-basis: 60%;
  padding: 40px;
}

.container {
    padding: 0 16px;
    margin-bottom: 20px;
}

.title {
    color: grey;
}

/* video-section */
/* video-section */
/* video-section */

.more-about-us{
  display: flex;
  margin: 0;
  padding: 0;
}

.video-info{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 40%;
  height: 100%;
  padding: 40px;
}

.video-info p{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #6D070B;
  font-size: 40px;
  position: absolute;
  top: 50px;
  margin-left: 20px;
}

.video-section{
  position: relative;
  height: 100%;
  top: 0;
  padding: 40px;
  flex-basis: 60%;
}
#videoPlayer{
  
  border: 10px solid black;
}
@media (min-width: 800px) {
  .video-section {
    height: 780px;
  }
}
#videoPlayer {
  position: absolute;
  overflow: hidden;
}
  