.nav-background{
  position: relative;
  color: #f1faee;
  width: 100%;
  z-index: 1;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  overflow: hidden;
}
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
  display: flex;
  object-fit: cover;
}
.nav-background p.heading{
  position: absolute;
  left: 50px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 76px;
  z-index: 3;
  line-height: 6rem;
}
.form {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
}
.text-input {
  flex: 45%;
  margin-bottom: 40px!important;
  padding: 20px;
  margin: 30px;
}

#project-description {
  width: auto;
  margin: 30px;
  margin-bottom: 40px;
  flex-basis: 100%;
}

/* select box for budget */

.select-box{
  display: flex;
  width: 250px;
  flex-direction: column;
  margin: 10px;
}
.select-box .budget-container{
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  order: 1;
}

.selected{
  background: #2f3640;
  color: #f5f6fa;
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  order: 0;
}

.selected::after{
  content: "";
  background: url('../img/arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 25px;

  transition: all 0.4s;
}

.select-box .budget-container.active{
  max-height: 240px;
  opacity: 1;
  z-index: 10;
  /* position: absolute;
  width: 250px;
  top: 80px; */
}

.select-box .budget-container.active + .selected::after{
  transform: rotateX(180deg);
  top: -26px;
}

.select-box .option-budget,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option-budget:hover{
  background: #414b57;
}

.select-box label{
  cursor: pointer;
}

.select-box .option-budget .radio{
  display: none;
}

.select-box .Timeline-container{
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  order: 1;
}

.select-box .Timeline-container.active{
  max-height: 240px;
  opacity: 1;
  z-index: 10;
}

.select-box .Timeline-container.active + .Timeline::after{
  transform: rotateX(180deg);
  top: -26px;
}

.Timeline{
  background: #2f3640;
  color: #f5f6fa;
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  order: 0;
}

.Timeline::after{
  content: "";
  background: url('../img/arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 25px;

  transition: all 0.4s;
}

.select-box .option-Timeline,
.Timeline {
  padding: 12px 24px;
  cursor: pointer;
}
.select-box .option-Timeline .radio{
  display: none;
}
.select-box .option-Timeline:hover{
  background: #414b57;
}
.contact-form .submit{
  /* justify-content: flex-end; */
  float: right!important;
}
.submit{
  width: 250px;
  height: 80px;
  margin: 10px;
  border: none;
  position: relative;
}

.selector-submit{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 200px;
}
.selectors{
  display: flex;
  position: relative;
}

input,textarea{
  border: none;
  border-bottom: 1px solid black;
}

.submit:hover{
  opacity: 0.6;
}