/* These are the navbar css files  */
/* These are the navbar css files  */
/* These are the navbar css files  */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

header {
  background: #f5f5f5;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 300ms ease-in-out;
  padding: 0px;
  margin: 0px;
}
  
.nav-bar {
  background-color: transparent;
  color: black;
  transition: color 200s linear;
  width: 100vw;
  height: 60px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 0;
  padding: 0px 200px;
  font-family: "Lato", sans-serif;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  font-weight: 900;
}
.nav-bar span:hover,
.nav-bar a:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #DD3101;
}
.nav-bar .info-btn{
  display: flex;
}
.nav-bar .logo{
  z-index: 999;
}
.nav-bar .logo a span img {
  max-width: 60px;
  max-height: 60px;
}
@media(max-width: 450px){
  .nav-bar .logo a span img {
    max-width: 40px;
    max-height: 40px;
  }
  .info-btn .dropdown {
    padding: 0px!important;
  }
  .nav-bar{
    height: auto;
  }
}
.nav-bar .logo a span img:hover {
  transform: scale(1.5) translateY(10px);
  transition: all .2s linear;
  background-color: #fff;
  z-index: 999;
}
.info-btn .links {
  font-family: "Lato", sans-serif;
  color: inherit;
  padding: 0px 20px;
  font-weight: 700;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-btn .dropdown {
  font-family: "Lato", sans-serif;
  padding: 20px;
  color: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
}
header .dropdown-menu{
  z-index: 7;
  position: absolute;
  top: 60px;
  right: -20px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  text-align: center;
  margin:0 auto;
  display: none;
  padding: 20px 0px;
}
.menu-buttons{
  padding: 20px!important;
}
.menu-buttons:hover{
  transform: scale(1.1);
  cursor: pointer;
  color: #DD3101;
}
.info-btn .dropdown i{
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.info-btn .dropdown i:hover{
  color: white;
  background-color: #3e4144;
  opacity: 0.6;
}
#navbar .info-btn a {
  text-decoration: none;
  padding: 0px 30px;
}



/* contact-info-nav */
/* contact-info-nav */
/* contact-info-nav */

#contact-info-nav{
  background-color: black;
  width: 100%;
  padding: .5rem 200px;
  margin: 0px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 99;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}
.social-media-links{
  display: flex;
}
.contact-links{
  display: flex;
  align-items: center;
  padding: 10px;
}
.contact-links i{
  color: #DD3101;
  cursor: pointer;
  padding: 0px 30px;
}
.contact-links i:hover{
  transform: scale(1.5);
}
@media(max-width: 350px){
  .contact-links i{
    transform: scale(0.5)
  }
  .contact-links{
    padding: 5px;
  }
  #contact-info-nav{
    padding: 5px!important;
  }
}

@media(max-width: 1050px){
  .nav-bar{
    padding: 0px 5.2vw;
  }
  #contact-info-nav{
    padding: .5rem 5.2vw;
  }
  .contact-links i{
    padding: 0px 15px;
  }
  #navbar .info-btn a {
    padding: 0px 25px;
  }
}
@media(max-width: 720px){
  .info-btn .links{
    display: none;
  }
  .info-btn .dropdown{
    visibility: visible;
  } 
  #navbar .info-btn a {
    padding: 0px 5px;
  }
  .nav-bar{
    padding: 0px 20px;
  }
  #contact-info-nav{
    padding: .5rem 20px;
  }
}
/* @media(max-width: 540px){
  .nav-bar{
    padding: 0px 20px;
  }
  #contact-info-nav{
    padding: .5rem 20px
} */


/* These are the home css files */
/* These are the home css files */
/* These are the home css files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li, ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.nothing {
  z-index: -10;
  height: 50vh;
  width: 100%;
}

body {
  overflow: overlay;
}

ul,
nav {
  list-style: none;
}

/* Track */
/* Track */
/* Track */

::-webkit-scrollbar {
  display: none;
}
.container {
  position: relative;
  margin: 0px !important;
  padding: 0px !important;
  background-color: #f5f5f5;
  min-width: 100%;
  height: auto;
  z-index: 3 !important;
}
/* scrollbar */
/* scrollbar */
/* scrollbar */

.vl {
  border-right: 1px solid #262626;
  height: 35px;
}
.hsl {
  border-right: 1px solid #262626;
}

/* NAVBAR */
/* NAVBAR */
/* NAVBAR */


/* .sticky + .content {
  padding-top: 60px;
} */

/* scroll-down stuff */
/* scroll-down stuff */
/* scroll-down stuff */

.scroll-down header{
  transform: translate3d(0, -100%, 0);
}

.scroll-up header{
  border-bottom: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5)); 
}
/*scroll-top-button*/
/*scroll-top-button*/
/*scroll-top-button*/

.scroll-top-button {
  display: none;
  z-index: 99;
  position: fixed;
  padding: 4px 6px;
  border-radius: 50%;
  right: 30px;
  bottom: 20px;
  color: #1b1b1b!important;
  border: 1px solid #1b1b1b;
}
.scroll-top-button a {
  color: #262626 !important;
}
.scroll-top-button:hover {
  cursor: pointer;
}
.scroll-top-button:hover i{
  color: #DD3101;
}
.scroll-top-button:hover i{
  color: #262626;
}
@media(max-height: 750px){
  .scroll-top-button {
    bottom: 70px;
  }
}
/* allert */
/* allert */
/* allert */

.allert{
  position: absolute;
  padding: 0px 100px;
  top: 120px;
  width: 100vw;
  z-index: 10;
}

/* first-section */
/* first-section */
/* first-section */
.first-section {
  position: -webkit-sticky;
  position: sticky;
  top: 0 !important;
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DD3101;
}
.first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 1;
  display: flex;
  object-fit: cover;
  transition: 1s ease-in-out;
}
.slogan-container p {
  color: #ddd;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  text-align: left;
  text-size-adjust: auto;
  cursor: pointer;
}
.slogan-container p span{
  color: #DD3101;
  font-weight: bold;
  font-size: 17px;
  text-size-adjust: auto;
}
.Need-Website a {
  border: 2px solid #ddd;
  padding: 1vw 5.2vw;
  color: #ddd;
  text-size-adjust: auto;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  transition: 0.3s;
  z-index: 2;
  text-decoration: none;
}

.slogan-container .Need-Website a:hover {
  background: #DD3101;
  color: #f1faee;
  cursor: pointer;
}
.slogan-container li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.vr{
  border-right: 2px solid #262626;
  height: 175px;
  z-index: 2;
}

.first-section .slogan-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.first-section .slogan-container .slog1,
.first-section .slogan-container .slog2{
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.first-section .slogan-container .slog3{
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 20px;
  max-width: 500px;
}
/* .WorkWithUs{
  margin-top: 20px;
} */

.first-section .slogan-container .slogan{
  font-size: 2.08vw;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  line-height: 3.1vw;
}
.first-section .Lets-work-together{
  font-size: 2.08vw;
  color: #dddddd;
}
.first-section .big-thing{
  font-size: 3.2vw;
}


@media (max-width: 1300px){
  .first-section .big-thing{
    font-size: 41px;
  }
  .first-section .slogan-container .slogan,
  .first-section .Lets-work-together{
    font-size: 27px;
    line-height: 45px;
  }
}
@media (max-width: 944px){
  .first-section .slogan-container{
    flex-direction: column;
  }
  .vr{
    border-right: none;
    height: 2px;
    border-bottom: 2px solid #262626;
    width: 300px;
    z-index: 2;
  }
  .first-section .slogan-container .slog3{
    align-items: center;
  }
  .slogan-container p {
    text-align: center;
  }
}
@media (max-width: 500px){
  .first-section .slogan-container{
    flex-direction: column;
  }
  .vr{
    border-right: none;
    height: 2px;
    border-bottom: 2px solid #262626;
    width: 300px;
    z-index: 2;
  }
  .first-section .slogan-container .slog3{
    align-items: center;
  }
  .slogan-container p {
    text-align: center;
  }
}

/* SECOND COLUMN */
/* SECOND COLUMN */
/* SECOND COLUMN */

.services {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 3;
  margin: 0;
  padding: 50px 0px 0px 100px;
}
.services hr {
  align-self: center;
  width: 36.4vw;
}

.services .services-title {
  position: relative;
  color: #6d070b;
  font-family: "Lato", sans-serif;
  font-size: 4vh;
  text-align: left;
}

.second-column {
  position: relative;
  z-index: 3 !important;
  width: 100vw;
  margin: 50px 0px;
  height: auto;
  padding: 0px;
}
.second-column .box{
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  position: relative;
  justify-content: space-around;
  align-items: center;
}
.box .column{
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 2vw;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box .column img{
  width: 100%;
  height: auto;
  max-width: 100%;
}
.second-column .box .column .Text {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #f1faee!important;
  transition: 0.5s ease-in-out;
  background: rgba(45, 46, 46, 0.3 );
}

.second-column .box .column .Text p,
.second-column .box .column .Text h4{
  position: relative;
  transition: 0.5s;
  transform: translateY(60px);
}
.second-column .box .Text:hover p,
.second-column .box .Text:hover h4{
  transition: 0.5s;
  transform: translateY(0px);
}

.second-column .box .Text:hover {
  background: rgba(45, 46, 46, 0.7);
}
/* //service-slider-box// */
/* //service-slider-box// */
/* //service-slider-box// */
.second-column .services-slider{
  width: 0px;
  height: 0px;
}
.second-column .service-slider-box{
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  position: relative;
  justify-content: space-around;
  align-items: center;
}
.service-slider-box .column{
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 2vw;
  width: 95%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.service-slider-box .column img{
  width: 100%;
  height: auto;
  max-width: 100%;
}
.second-column .service-slider-box .column .Text {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1faee!important;
  transition: 0.5s ease-in-out;
  background: rgba(45, 46, 46, 0.3 );
}
.second-column .service-slider-box .column .Text h4{
  position: absolute;
  transition: 0.5s;
  opacity: 1;
}
.second-column .service-slider-box .column .Text p{
  text-align: center;
  padding: 5px;
  transition: 0.5s;
  opacity: 0;
}
.second-column .service-slider-box .column .Text:hover p{
  opacity: 1;
  transition: 0.5s;
}
.second-column .service-slider-box .column .Text:hover h4{
  opacity: 0;
  transition: 0.5s;
}
.second-column #services-slider{
  width: 0px;
  height: 0px;
}

.second-column .service-slider-box .Text:hover {
  background: rgba(45, 46, 46, 0.7);
}
@media(max-width: 900px){
  .second-column .services-slider{
    width: auto;
    height: auto;
  }
  #services{
    display: none;
  }
  .services{
    padding: 50px;
    padding: 0px;
  }
}
@media(max-width: 1050px){
  .services hr{
    display: none;
  }
  .services {
    justify-content: center;
    padding: 50px 0px 0px 0px;
  }
}
@media(max-width: 1500px){
  .box .column{
    width: 45%;
  }
}
@media(max-width: 848px){
  .box .column {
    width: 45%;
  }
}

/* CAPABILITIES SECTION */
/* CAPABILITIES SECTION */
/* CAPABILITIES SECTION */

.destination {
  position: relative;
  z-index: 3;
  height: auto;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  align-items: center;
  background-color: #f5f5f5;
}
.destination .capabilities {
  width: 100%;
  display: flex;
  height: 100%;
  flex-basis: 40%;
  padding: 50px;
  justify-content: flex-start;
  text-align: left;
}

.destination .title {
  position: absolute;
  color: #6d070b;
  font-family: "Lato", sans-serif;
  font-size: 4vh;
  align-items: flex-start;
}

section .destination-section-text {
  position: relative;
  padding: 50px!important;
  display: flex;
  color: black;
  font-family: sans-serif;
  text-align: left;
  height: auto;
  flex-direction: column;
  align-items: center;
  flex-basis: 60%;
}
section .destination-section-text p {
  position: relative;
  margin-top: 10px;
}
section .destination-section-text a {
  text-decoration: none;
}
section .destination-section-text .read-more {
  width: 100% !important;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 0px;
  margin-bottom: 25px;
}
.capability-image {
  position: relative;
  margin-top: 40px;
  height: auto;
  min-width: 100%;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #131212;
  border: 10px solid #131212;
}
.capability-image .img-text {
  position: absolute;
  z-index: 4;
  align-self: center;
  text-align: center;
  color: #f5f5f5;
  font-family: "Lato", sans-serif;
  font-size: 40px;
}
.capability-image img {
  display: flex;
  object-fit: cover;
  flex-shrink: 0;
  max-height: auto;
  width: 100%;
  opacity: 0.3;
  min-height: 100px;
}

@media(max-width: 1200px){
  .destination{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }
  .destination .capabilities {
    text-align: center;
    flex-basis: 10%;
    justify-content: center;
    margin: 20px;
  }
  .capability-image .img-text{
    font-size: 4vw;
  }
}

/* PROJECTS SECTION */
/* PROJECTS SECTION */
/* PROJECTS SECTION */
.Grid-title {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 3;
  margin: 0;
  padding: 50px 0px 0px 100px;
}
.Grid-title hr {
  align-self: center;
  width: 700px;
}

.Grid-title .title {
  position: relative;
  color: #6d070b;
  font-family: "Lato", sans-serif;
  font-size: 4vh;
  margin: 50px 0px 50px 0px;
  text-align: left;
}

.home-grid{
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.home-grid .card-container{
  z-index: 8;
}
.home-grid .read-more{
  z-index: 9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
  cursor: auto;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 );
}
.home-grid .more {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  color: #1b1b1b;
  margin-top: 20px;
  margin-bottom: 10px;
}
.home-grid .more i {
  color: #1b1b1b;
  animation-name: arrowmotion;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.home-grid .more:hover i{
  animation-play-state: paused;
  transform: scale(1.5);
  cursor: pointer;
}

@media(max-width:1400px ){
  .Grid-title hr{
    width: 500px!important;
  }
}
@media(max-width:1200px ){
  .Grid-title hr{
    display: none;
  }
  .Grid-title .title{
    text-align: center;
  }
  .Grid-title {
    justify-content: center;
    padding: 0px;
  }
}

.destination-2 ul,
.destination-2 li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.destination-2 {
  z-index: 3;
  position: relative;
  display: flex;
  width: 100vw;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.destination-2 .grid {
  display: flex;
  flex-wrap: wrap;
  z-index: 4;
  margin: 0;
  justify-content: space-evenly;
  width: 100% !important;
}
.destination-2 .grid li {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 15px 30px;
  max-height: 340px;
  min-height: 340px;
  min-width: 638px;
  max-width: 638px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.destination-2 .grid li img {
  display: flex;
  object-fit: cover;
  flex-shrink: 0;
  max-height: 340px;
  min-height: 340px;
  min-width: 638px;
  max-width: 638px;
  width: 100%;
  opacity: 0.5;
}
.destination-2 .grid li:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.destination-2 .grid .project {
  position: relative;
  display: flex;
  background-color: #1b1b1b;
}
.destination-2 .grid .project .description {
  position: relative;
  font-size: 15px !important;
  width: 600px;
}

.destination-2 .grid .project .li-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
  font-family: "Lato", sans-serif;
  font-size: 26px;
  align-self: flex-start;
  padding: 5px;
  justify-content: flex-start;
  bottom: 0px;
}



@keyframes arrowmotion {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.destination-2 .grid li.project {
  flex-basis: 40%;
  overflow: hidden;
}
@media (max-width: 800px) {
  .destination-2 .grid li.project {
    flex-basis: 100%;
    overflow: hidden;
  }
}

/* our-team */
/* our-team */
/* our-team */
.teams {
  position: relative;
  width: 100vw;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
  z-index: 7 !important;
}

hr {
  width: 0%;
  min-width: 20%;
  max-width: 100%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #666;
  position: relative;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: 0px 0px 0px 0px #f9f9f9;
  z-index: 7;
}
#our-team-intro {
  z-index: 8 !important;
  padding: 50px 0px 50px 0px;
  font-family: "Merriweather", serif;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 40px;
  position: relative;
}
.our-team {
  padding: 20px;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  columns: 3;
  overflow: visible;
  position: relative;
  column-gap: 40;
  box-sizing: border-box;
}
.our-team .columns {
  position: relative;
  height: 100%!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.our-team .columns .info {
  margin: 15px;
  text-align: center;
}

.our-team .columns img {
  transition: 0.3s ease transform;
}
.our-team .columns #img-container {
  border-radius: 50%;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-self: center;
  background-color: #fff;
}
/* .our-team .columns:hover #img-container img{
  transform: scale(1.1);
  opacity: 0.5;
  background: transparent;
} */


@media(max-width: 948px){
  .our-team .columns #img-container{
    height: 150px;
    width: 150px;
  }
}

/* //show page code started from here */
/* //show page code started from here */
/* //show page code started from here */
/* //show page code started from here */

.card-container{
  overflow: visible;
  width: 100vw;
  height: auto;
  margin: 20px auto;
  columns:4;
  column-gap: 40px;
  padding: 100px 50px;
  position: relative;
}
.card-container .box{
  width: 100%;
  margin: 10px;
  overflow: hidden;
  border-radius: 20px;
  break-inside: avoid;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-container .box:hover{
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card-container .box img{
  max-width: 100%;
}
@media (max-width: 1200px)
{
.card-container{
  columns:3;
  width: calc(100% - 40px);
  box-sizing: border-box;
  padding: 20px 20px 20px 0;
}
}
@media (max-width: 768px)
{
.card-container{
  columns: 2;
}
}
@media (max-width: 520px)
{
.card-container{
  columns: 1;
}
}




.Image-form{
  text-align: left;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
}
.Image-form .row{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* admin */
/* admin */
/* admin */

.upload-form{
  height: 100vh;
  padding: 200px;
}
.form-container{
  position: relative;
}
.logout-btn-container{
  position: absolute;
  right: -30px;
  bottom: -5px;
}


/* These are the about css files  */
/* These are the about css files  */
/* These are the about css files  */



.nav-background{
  position: relative;
  color: #f1faee;
  width: 100vw;
  z-index: 1;
  height: 80vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  top: 0;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.nav-background p.heading{
  position: absolute;
  padding-bottom: 0px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  left: 70px;
  bottom: 50px;
  font-size: 4vw;
  z-index: 3;
  line-height: 5rem;
}
@media(max-width: 900px){
  .nav-background p.heading{
    font-size: 40px!important;
    line-height: 3rem!important;
  }
}
@media(max-height: 750px){
  .nav-background p.heading{
    left: 10px;
  }
}
.about-section{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-section .about-section-one{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 40%;
  height: 100%;
  padding: 40px;
}

.about-section .about-section-one p{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #6D070B;
  font-size: 40px;
  position: absolute;
  top: 50px;
  margin-left: 20px;
}
.about-section-two .h2{
  font-size: 40px;
  color: #6D070B;
  padding: 20px 0px 20px 0px;
}
#aboutsection .about-section-two{
  position: relative;
  flex-basis: 60%;
  padding: 40px;
}

.container {
    padding: 0 16px;
    margin-bottom: 20px;
}

.title {
    color: grey;
}

/* video-section */
/* video-section */
/* video-section */

.more-about-us{
  display: flex;
  margin: 0;
  padding: 0;
}

.video-info{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 40%;
  height: 100%;
  padding: 40px;
}

.video-info p{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #6D070B;
  font-size: 40px;
  position: absolute;
  top: 50px;
  margin-left: 20px;
}

.video-section{
  position: relative;
  height: 100%;
  top: 0;
  padding: 40px;
  flex-basis: 60%;
}
#videoPlayer{
  
  border: 10px solid black;
}
@media (min-width: 800px) {
  .video-section {
    height: 780px;
  }
}
#videoPlayer {
  position: absolute;
  overflow: hidden;
}


/* These are the Contact css files  */
/* These are the Contact css files  */
/* These are the Contact css files  */

.form {
  position: relative;
  width: 100%;
  object-fit: cover;
  height: auto;
  display: flex;
  /* justify-content: space-around; */
  /* padding: 70px; */
}
.form-items{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-basis: 50%;
}
.form .image{
  display: flex;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.contact-form {
  max-width: 700px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 100px;
  padding: 20px;
}
.text-input {
  /* color: #fff; */
  flex-basis: 46%;
  margin-bottom: 40px!important;
  margin: 10px;
}

#project-description {
  width: auto;
  margin: 10px;
  margin-bottom: 40px;
  flex-basis: 100%;
}
@media(max-width: 1100px){
  #contact-form{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .contact-image{
    flex-basis: 100%;
  }
  .contact-form {
    background-color: #fff;
  }
}

/* select box for budget */

.select-box{
  display: flex;
  width: auto;
  flex-direction: column;
  margin: 10px;
}
.select-box .budget-container{
  /* background: #2f3640; */
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  order: 1;
}

.select-box .budget-container.active{
  max-height: 240px;
  opacity: 1;
  z-index: 10;
}

.select-box .budget-container.active + .selected::after{
  transform: rotateX(180deg);
  top: -26px;
}

/* .select-box .option-budget,
.selected {
  padding: 12px 24px;
  cursor: pointer;
} */

.select-box .option-budget:hover{
  background: #414b57;
}

.select-box label{
  cursor: pointer;
}

.select-box .option-budget .radio{
  display: none;
}

.select-box .Timeline-container{
  /* background: #2f3640; */
  color: #262626;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  order: 1;
}

.select-box .Timeline-container.active{
  max-height: 240px;
  opacity: 1;
  z-index: 10;
}

.select-box .Timeline-container.active + .Timeline::after{
  transform: rotateX(180deg);
  top: -26px;
}

/* .select-box .option-Timeline,
.Timeline {
  padding: 12px 24px;
  cursor: pointer;
} */
.select-box .option-Timeline .radio{
  display: none;
}
.select-box .option-Timeline:hover{
  background: #414b57;
}
/* .submit{
  width: 250px;
  height: 80px;
  margin: 10px;
  border: none;
  position: relative;
} */

.contact-form .selector-submit{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.selectors{
  display: flex;
  position: relative;
}

input,textarea{
  border: none;
  border-bottom: 1px solid black;
}

.submit:hover{
  opacity: 0.6;
}

.btn-primary{
  padding: 0px 12px;
}


@media(max-width: 600px){
  .text-input{
    flex-basis: 40%;
  }
  .text-input {
    /* color: #fff; */
    margin-bottom: 20px!important;
    margin: 5px;
  }
  .contact-form .selector-submit{
    margin: 10px;
  }
  #project-description {
    margin-bottom: 20px;
  }
}

@media(max-width: 500px){
  .text-input{
    flex-basis: 100%;
  }
  .text-input {
    /* color: #fff; */
    margin-bottom: 10px!important;
    margin: 5px;
  }
  .contact-form .selector-submit{
    margin: 5px;
  }
  #project-description {
    margin-bottom: 10px;
  }
  .contact-form{
    margin-top: 200px;
    max-width: 320px!important;
  }
}

/* These are the work css files  */
/* These are the work css files  */
/* These are the work css files  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  list-style: none;
  text-decoration: none;
  color: inherit;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* second nav */

.second-nav{
  position: fixed;
  width: 60px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}
@media(min-height: 751px){
  .second-nav:hover{
    width: 300px;
  }
  .second-nav ul li:hover{
    background: #DD3101;
    cursor: pointer;
    transition: .3s linear;
  }
  .second-nav ul li a i:hover{
    color: #f5f5f5;
  }
}
.second-nav ul{
  left: 0;
  width: 100%;
  color: #fff;
}
.second-nav ul li{
  text-decoration: none;
  width: 100%;
  padding: 20px 0px;
  transition: .3s linear;
  list-style: none;
}
.second-nav ul li .text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-nav ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  white-space: nowrap
}
.second-nav ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.second-nav ul li a .icon .fa{
  font-size: 24px;
}

@media(max-height: 750px){
  .second-nav{
    width: 100vw;
    bottom: 0px;
    height: 60px;
    overflow: visible;
  }
  .second-nav ul{
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: #fff;
  }
  .second-nav ul li .text{
    display: block;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .second-nav ul li:hover i{
    color: #DD3101;
  }
  .second-nav ul li i{
    transform: scale(0.7);
  }
  .second-nav ul li:hover .text{
    text-align: center;
    opacity: 1;
    height: auto;
    width: auto;
    position: absolute;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #ddd;
    top: -30px;
    font-size: 14px;
    padding: 10px;
  }
}

/* .second-nav ul li:hover i{
  color: #DD3101;
  transform: scale(1.1);
  transition: all 0.3s ease;
} */

/* //sercice container */

.services-container{
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
}
@media(max-width: 1600px){
  .services-container{
    padding: 0px 10px 0px 70px;
  }
}
@media(max-height: 750px){
  .services-container{
    padding: 0px 10px 0px 10px;
  }
}
.work-services{
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-info{
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services-info p{
  padding: 0px;
  margin: 0px;
  max-width: 900px;
}
.red-services{
  width: 100%;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center; */
}
.service-pngs{
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  /* display: inline-block; */
}
.service-pngs-carousel-1,
.service-pngs-carousel-2{
  display: none!important;
}
.owl-item{
  justify-content: center;
  display: flex;
}
.service-pngs li{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.service-pngs li p{
  width: 300px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.service-pngs li .desc{
  font-weight: 400; 
  font-size: 15px;
  text-align: left;
}
.service-pngs li img{
  max-width: 100px;
  max-height: 100px;
}
@media(max-width: 850px){
  .service-pngs{
    display: none;
  }
  .service-pngs-carousel-1,
  .service-pngs-carousel-2{
    display: block!important;
  }
}
@media(max-width: 600px){
  .red-services p,
  .services-info p{
    font-size: 12px!important;
  }
}
/* banners?? */
/* banners?? */
/* banners?? */

.banner{
  display: flex;
  width: 100%;
  background-color: rgb(0,0,0);
  align-items: center;
}
.banner  .col1, .col2{
  display: flex;
  flex-basis: 50%;
}
.col1{
  display: flex;
}
.col1 img{
  display: flex;
  object-fit: contain;
}
.col2 h1{
  font-size: 4wv;
  color: #DD3101;
}
.col2{
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.col2 p{
  color: white;
  display: flex;
}
.banner .col1 img{
  max-width: 50vw;
}
@media(max-width: 1150px){
  .banner{
    flex-direction: column;
    align-items: center;
  }
  .banner .col1 img{
    max-width: 100%;
  }
}
@media(max-width: 600px){
  .col2 p{
    font-size: 12px;
  }
}

/* //webdevelopment */
.services-offered{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  height: auto;
  width: 100%;
  height: 100vh;
}
.services-offered .text{
  max-width: 700px;
  top: 300px;
  left: 200px;
  font-family: 'Lato', sans-serif;
}
.services-offered .text p{
  padding: 10px;
}
.services-offered .text .read-more-text{
  display: block;
  opacity: 1;
  height: 1;
}
#text .read-more-btn{
  display: none;
}
.services-offered .text p {
  font-size: 16px;
}
.services-offered .image{
  max-width: 500px;
  max-height: 500px;
  bottom: 0px;
  right: 200px;
}

@media(max-width: 1600px){
  .services-offered {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    height: auto;
  }
  .services-offered .text,
  .services-offered .image{
    max-width: 100%;
    justify-content: space-around;
    padding: 40px 0px;
    position: unset;
  }
  .services-offered .text p {
    font-size: 16px;
    max-width: 700px;
  }
  .services-offered .text{
    text-align: center;
  }
  .services-offered .image{
    max-width: 500px;
    max-height: 500px;
  }
  .services-offered .text .read-more-text{
    transition: all 0.3s;
    display: block;
    opacity: 0;
    height: 0;
    pointer-events: none;
  }
  .services-offered .text .read-more-text--show{
    display: block;
    opacity: 1;
    height: 8rem;
  }
  #text .read-more-btn{
    transition: all 0.3s;
    display: inline-block;
    color: black;
    cursor: pointer!important;
    position: relative;
  }
  #text .read-more-btn:hover{
    transform: translateY(-3px);
  }
}

@media(max-width: 600px){
  .services-offered .text p{
    font-size: 12px;
  }
}
@media(max-width: 400px){
  .services-offered .text .read-more-text--show{
    height: 9rem;
  }

}

i:hover{
  color: rgb(167, 11, 245);
}
.hr{
  position: absolute;
  top: 700px;
  left: 300px;
  width: 500px;
}
#slider-inner{
  width: 100vw;
  margin-top: 20px;
}
.container-fluid{
  padding: 0px;
  margin: 0px;
  cursor: grab;
}
.slide-img{
  text-align: center;
  position: relative;
  z-index: 0;
  /* margin: 0px 10px; */
}
.slider-inner .slide-img i{
  pointer-events: none;
}

.tow-container{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  height: auto; 
  text-align: center;
  position: relative;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.tow-container .types-of-websites{
  display: flex;
  justify-content: space-evenly;
}
.tow-container .types-of-websites .column{
  width: auto;
  height: auto;
  margin: 1vw;
  position: relative;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}
@media(max-width: 600px){
  .tow-container .types-of-websites{
    flex-direction: column;
  }
}
.tow-container .types-of-websites .column img{
  width: 100%;
  height: auto;
  max-width: 100%;
  transition: all 0.3s linear;
}
.tow-container .types-of-websites .column:hover img{
  transform: scale(1.2);
  transition: all 0.3s linear;
}
.tow-container .types-of-websites .column p{
  max-width: 350px;
  transition: all 0.3s linear;
}
.custom-websites, .responsive-websites{
  transition: all 0.3s linear;
}
.responsive-websites::after,
.custom-websites::after{
  transition: all 0.3s linear;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: absolute;
  height: 100%;
  opacity: 0;
}
.responsive-websites::after{
  content: "Providing an optimal experience for the user across the board, responsive web design means your user can read and navigate the site with minimum resizing and scrolling.";
}
.custom-websites::after{
  content: "Your website makes the first impression, and we all know how important that is. You have to treat your website as you treat your office and make it the best reflection of your business and values. A custom site provides a unique identity for your business.";
}
@media(max-width: 500px){
  .responsive-websites::after,
  .custom-websites::after{
    display: flex;
    justify-content: center;
    opacity: 1!important;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }
}
.custom-websites:hover::after,
.responsive-websites:hover::after{
  background-color:rgba(0, 0, 0, 0.5);
  width: auto;
  opacity: 1;
  transition: all 0.3s linear;
}
#graphic-design{
  background: rgb(94,28,28);
background: linear-gradient(90deg, rgba(94,28,28,1) 0%, rgba(233,0,0,1) 60%);
}
#marketing-advertising{
  background: rgb(255,212,11);
  background: linear-gradient(90deg, rgba(255,212,11,1) 0%, rgba(255,245,91,1) 100%);
}
#video-production{
  background: rgb(11,221,255);
  background: linear-gradient(90deg, rgba(11,221,255,1) 0%, rgba(157,91,255,1) 91%);
}
#app-development{
  background: rgb(64,224,208);
  background: linear-gradient(90deg, rgba(64,224,208,1) 0%, rgba(0,190,171,1) 100%);
}
#graphic-design h1, #graphic-design .read-more-btn, #app-development h1, #graphic-design p, #app-development p, #app-development .read-more-btn{
  color: #f5f5f5!important;
}
#graphic-design-slider{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
}
#graphic-design-slider .slide-img{
  text-align: center;
  position: relative;
  z-index: 0;
  max-height: 80;
  max-width: 100vw;
  object-fit: contain;
}

/* These are the footer css files    */
/* These are the footer css files    */
/* These are the footer css files    */

footer {
  z-index: 9!important;
  height: 100vh;
  background-color: #efefef;
  width: 100%;
  line-height: 5.5vw;
  position: relative;
  bottom: 0px;
  overflow: hidden;
  padding: 100px;
  display: flex;
  flex-direction: column ;
  justify-content: center;
}
.footer .container{
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  min-width: 100%!important;
}
@media(max-width: 900px){
  .footer .container{
    flex-direction: column;
  }
  .footer .container .quote{
    margin: 50px!important;
  }
}

.footer a:hover, .footer .active a, .footer li:hover a {
  color: #d9ba85;
  text-decoration: wavy;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer ul {
  display: flex;
  align-items: center;
}

.footer li {
  list-style: none;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.footer a {
  display: block;
  position: relative;
  color: white;
  transition: 0.1s;
  font-size: 1.7vw;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.footer .Need-Website a {
  border: 2px solid #262626;
  color: #262626;
  border-radius: 50px;
  padding: 1vw 6vw;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: auto;
  transition: 0.3s;
}

.footer .Need-Website a:hover {
  background: #262626;
  color: #fff;
  cursor: pointer;
}

footer p {
  font-size: 3.5vw;
  font-family: "Bebas Neue", cursive;
}
footer ul {
  display: flex;
  justify-content: space-between;
}
footer .copyright {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
footer .copyright .cp {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
.footer .container .quote{
  position: inherit;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.footer .container .quote p{
  margin: 0px;
  padding: 0px;
  line-height: 3vw;
}
footer .copyright ul {
  display: flex;
  justify-content: space-around;
  flex-basis: 20%;
}
footer .links-end{
  font-size: 1vw;
}
footer .links-end:hover {
  cursor: pointer;
  color: #d00000;
}
footer ul i:hover {
  cursor: pointer;
  color: #d00000;
}
footer ul i {
  color: #262626;
}
@media(max-width: 900px){
  footer .links-end{
    font-size: 2vw!important;
  }
  footer .copyright .cp{
    margin: 20px;
  }
  footer .copyright{
    flex-direction: column;
  }
  footer p{
    font-size: 5vw;
  }
  .footer .container .quote p{
    line-height: 3.9vw;
  }
}