*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
  margin: 0;
  padding: 0;
}

.nav-background{
    background-color: #f5f5f5;
}

.projects-title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
  margin: 0;
  padding: 55px 0px;
}

.projects-title li{
    text-decoration: none;
    color: #262626;
    font-family: "Atkinson Hyperlegible", sans-serif;
    padding-bottom: 15px;
    cursor: pointer;
}
.projects-title .active{
    border-bottom: 3px solid #6d070b;
}

.projects-list ul,
.projects-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects-list {
  z-index: 3;
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.projects-list .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 4;
  margin: 0;
  width: 100% !important;
}
.grid .project{
  margin-bottom: 50px;
}
.projects-list .grid li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  background-color: #1b1b1b;
  transition: .2s ease-in-out;
}

.projects-list .grid li img {
  display: flex;
  object-fit: cover;
  flex-shrink: 0;
  opacity: 0.5;
  max-height: 340px;
  min-height: 340px;
  max-width: 638px;
  min-width: 638px;
}
.projects-list .grid .li-text {
  position: absolute;
  color: #f5f5f5;
  font-family: "Atkinson Hyperlegible", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  height: 100%;
  width: 100%;
  padding: 5px 20px 0px 5px;
  transition: .2s ease-in-out;
}
.projects-list .grid .li-text:hover{
  background: rgba(46, 46, 46, 0.6);
  transition: .2s ease-in-out;
}

.projects-list .more {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  color: #1b1b1b;
  margin-top: 20px;
  margin-bottom: 10px;
}
.projects-list .more i {
  color: #1b1b1b;
  animation-name: arrowmotion;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.projects-list .more i:hover {
  animation-play-state: paused;
  transform: scale(1.5);
  cursor: alias;
}

@keyframes arrowmotion {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* show class */
/* show class */
/* show class */

.info{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 20!important;
  background-color: #f5f5f5;
  padding: 30px;
}
.info.active{
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}

.info .header .heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.close-button{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  align-self: flex-start;
}

#show{
  position: fixed;
  top: 0!important;
  z-index: 10!important;
  width: 100%;
  height: 100vh;
  background: rgba(46, 46, 46, 0);
  pointer-events: none;
}
#show.active{
  pointer-events: all;
  background: rgba(46, 46, 46, .5);
}